/* 1439px - 769px */

@media(max-width:1181px) {

    /* header */
    header {
        padding-inline: 32px;
    }

    .headerNav {
        position: fixed;
        top: 98px;
        left: -100%;
        background-color: #C46A2B;
        width: 200px;
        height: 144px;
        padding: 16px 0 16px 16px;
        transition: all .3s ease;

    }

    .headerNavList {
        flex-direction: column;
        gap: 8px;
    }

    .burger {
        display: block;
    }

    /* homesection1cover */
    .homeCover {
        padding-top: 32px;
        height: 480px;
    }

    /* homesection2 */

    .homeSection2 {
        padding: 96px 0 96px 32px;
    }

    .cardSection {
        overflow-x: scroll;
    }

    .sectionArticle {
        flex: 1 0 272px;
    }
}