@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nerko+One&display=swap');



.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 98px;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: inherit;
    max-width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #012426;
    border-bottom: 2px solid #05BCCA;
    padding: 16px 94px;
    z-index: 1;



}

.burger,
.xmark {
    display: none;
}

.headerNavList {

    display: flex;
    gap: 72px;
}

.headerLogo {
    transition: 0.15s all ease-in-out;
}

.headerLogo:hover {
    filter: drop-shadow(0px 0px 10px cyan);
    transform: scale(1.05);
}





.headerNavLink {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #A1C3C9;
    font-family: "Inter", serif;
    transition: 0.15s all ease-in-out;


}

.headerNavLink:hover {
    color: #7e96a5;
}

.headerSectionButton {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #05BCCA;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.15s all linear;
}

.headerSectionButton:hover {
    background-color: #0b444740;
    scale: 1.05;
}

.buttonsSection {
    display: flex;
    gap: 32px;
}

.secondButton {
    background-color: #05BCCA;
    border: none;
    cursor: pointer;
    transition: 0.15s all linear;
}

.secondButton:hover {
    background-color: #0198a2;
    scale: 1.05;

}

/* homeSection1 */

.homeCover {
    height: 560px;
    background-image: url(../images/cover\ \(4\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 72px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    animation: slideIn 1s ease-in-out;
    animation-fill-mode: forwards;
}

.coverInternalSection {
    display: flex;
    align-items: center;
    gap: 24px;

}

.coverSectionTitle {
    font-family: "Inter", serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #FFFFFF;

}

.h2Span {
    color: #05BCCA;
}

.coverButton {
    width: 36px;
    height: 24px;
    background-color: #C46A2B;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s all linear;
}

.coverButton:hover {
    transform: translateX(5px);
}

/* section2 */

.homeSection2 {
    background-color: #1A1A1A;
    padding: 96px 94px;


}

.homeSection2Title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    color: #05BCCA;
    position: relative;




}


.homeSection2Title::before {
    content: "";
    width: 187px;
    position: absolute;
    border: 2px solid #05BCCA;
    bottom: -8px;
    left: 10px;
}

.section2Div {
    display: flex;
    justify-content: center;
}

.cardSection {
    margin-top: 64px;
    display: flex;
    gap: 20px;
}

.articleImage {
    width: 100%;
    height: 221px;
    object-fit: cover;
}

.sectionArticle {
    padding: 8px 8px 15px 8px;
    background-color: #2C4246;
    width: 298px;
}

.articleTitle {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #D9D9D9;
    margin-block: 16px;


}

.articlePriceAndADD {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articlePrice {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #05BCCA;


}

.articleButton {
    width: 58px;
    height: 28px;
    border: none;
    border-radius: 4px;
    background-color: #C46A2B;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    transition: 0.4s all linear;
    cursor: pointer;
}

.articleButton:hover {
    box-shadow: 0px 0px 5px cyan, 0 0 10px cyan;
    transform:scale(1.05) ;
}

/* homeSectionArtcleHoverEffects */
.sectionArticle {
    transition: all 0.4s linear;
    cursor: pointer;


}

.sectionArticle:hover {
    box-shadow: 0px 0px 5px cyan, 0 0 10px cyan;
}

.sectionArticle:hover .articleImage {
    transform: scale(1.2);
}

.articleImage {
    transition: all 0.6s linear;
}

.HomePageArticleImageDiv {
    overflow: hidden;
}

/* footer */

footer {
    padding: 48px 0;
    background-color: #2C4246;
    display: flex;
    gap: 157px;
    justify-content: center;
}

.footerSection {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footerSection li {
    transition: 0.2s all linear;
}

.footerSection li:hover {
    transform: scale(1.05) ;
}


.footerTitle {
    font-family: "Inter", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #D9D9D9;


}

.footerTitleLine_div {
    margin-top: 4px;
    width: 80px;
    border: 1px solid #D9D9D9
}

.footerList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footerLink {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D9D9D9;

}

.footerIcons {
    display: flex;
    gap: 16px;
}

/* catalogSection */

.catalogSection1 {
    background-color: #012426;
    padding: 96px 94px;
}

.firstInternalSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.filterSection {
    display: flex;
    align-items: center;
    gap: 16px;
}

.sortBy {
    display: flex;
    align-items: center;
    gap: 32px;
}

.bestSellingButton {
    width: 160px;
    height: 32px;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
    background-color: #A1C3C9;
    
}

.bestSellingButton:hover {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(102, 102, 207, 1) 41%, rgba(0, 212, 255, 1) 100%);
    cursor: pointer;
}

.bestSellingButton:hover .bestSelling {
    color: #ffffff;
}

.filterSectionTitle {
    font-family: "Inter", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #D9D9D9;

}

.sortByTitle {
    font-family: "Inter", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #D9D9D9;


}

.bestSelling {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2C4246;
    transition: .4s all linear;


}

/* catalogCardSection */

.catalogCardSection {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;



}

.catalogCardArticle {
    flex: 1 1 32%;
    display: flex;
    flex-direction: column;
    transition: .6s all ease;
    cursor: pointer;


}

.catalogCardArticle:hover {
    box-shadow: 0 0 10px lightblue, 0 0 15px lightblue;
}

.catalogCardImage {
    width: 100%;
    height: 298px;
    object-fit: cover;
}

.catalogCardArticleSection {
    background-color: #2C4246;
    padding: 16px 8px;
}

.catalogCardTitle {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #D9D9D9;
    margin-bottom: 16px;

}

.priceAndCartSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #05BCCA;


}

.catalogCartButton {
    width: 27px;
    height: 27px;
    background-color: #C46A2B;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s all linear;
    cursor: pointer;

}

.catalogCartButton:hover {
    scale: 1.05;
    border: 1px solid #fff;
}

/* toggleButtonSection */

.toggleSection {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    align-items: center;
    gap: 48px;
}

.toggleButtonPrevious {
    width: 121px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #C46A2B;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: 0.2s all linear;
    cursor: pointer;
}

.toggleButtonPrevious:hover {
    box-shadow: 0px 0px 5px #C46A2B, 0px 0px 10px #C46A2B, 0px 0px 20px #C46A2B;
}

.toggleButtonSpanPrevious {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D9D9D9;


}

.PreviousAndNextParagraph {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;

}

.toggleButtonNext {
    width: 92px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #05BCCA;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: 0.2s all linear;
    cursor: pointer;
}

.toggleButtonNext:hover {
    box-shadow: 0px 0px 5px #0198a2, 0px 0px 10px #0198a2, 0px 0px 20px #0198a2;
}

.toggleButtonSpanNext {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D9D9D9;


}

/* contactPage */

.contactBackgroundImageSection {
    height: 720px;
    background-image: url(../images/contactBackgroundImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 172px 233px;
}

.ContactMainSection {
    padding: 32px;
    background: #2C4246CC;
    display: flex;
    gap: 40px;
    border: 1px solid #05BCCA;
    border-radius: 10px;

}


.formSection {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 64px;


}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
}

.formSectionTitle {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;

}

.inputSection {
    display: flex;
    gap: 60px;
}

input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding-left: 8px;




}

textarea {
    width: 100%;
    height: 96px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
    resize: none;
    padding-left: 8px;
    padding-top: 8px;


}

::placeholder {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FFFFFFC2;

}

.sendMessageButton {
    width: 100%;
    height: 56px;
    border: none;
    background-color: #C46A2B;
    border-radius: 10px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    cursor: pointer;

}

.sendMessageButton::before {
    content: "";
    width: 0;
    border-radius: inherit;
    height: 1.7px;
    background-color: rgb(196, 221, 221);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s linear;
}

.sendMessageButton:hover::before {
    width: 100%;
}

.sendMessageButton::after {
    content: "";
    width: 0;
    border-radius: inherit;
    height: 1.7px;
    background-color: rgb(196, 221, 221);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.3s linear;
}

.sendMessageButton:hover::after {
    width: 100%;
}

/* mapSection */
.mapSection {
    width: 494px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    align-items: center;
}

iframe {
    width: 100%;
    height: 264px;
    border-radius: 10px;

}

.mapSectionButtons {
    display: flex;
    gap: 72px;
}

.contactButton {
    width: 48px;
    height: 48px;
    border: 2px solid #FFFFFF;
    background-color: #05BCCA;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s all linear;


}

.contactButton:hover {
    box-shadow: 0 0 10px #05BCCA;
}


@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}